*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    box-sizing: border-box;
    margin: 10px auto;
}
body{
    background-color: #7EC8E3;
    color: #050A30;
}
#content{
    width: 1024px;
    border: 1pt#000C66 solid;
}
nav, article{
    width: 960px;
    height: 250px;
 
}
header{
    border: 2px;
}
#center {
    text-align: center;
    }


  